<div class = "content">
<h1>Suggestotron!</h1>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.title, topic %></td>
      <td><%= pluralize(topic.votes.length, "vote") %></td>
      <td><%= button_to '+1', votes_path(topic_id: topic.id), method: :post %></td>
      <td><%= link_to 'Delete', topic, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<div class = "nav"><%= link_to 'New Topic', new_topic_path %></div>

<p id="notice"><%= notice %></p>

</div>
<div class = "footer">
  <a href = "http://github.com/basilleaf/suggestatron">
    http://github.com/basilleaf/suggestatron
  </a>
</div>