<div class = "topic content">
 	<h3><%= @topic.title %></h3>
 	<ul>
	  	<li><strong><%= pluralize(@topic.votes.length, "vote") %></strong></li>
	  	<li><%= button_to '+1', votes_path(topic_id: @topic.id, redir: @topic.id ), method: :post %></li>
	</ul>	
<p>
  <b>Description:</b>
  <%= @topic.description %> 
</p>



<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
<span style = "float:right"> 
	<%= link_to 'Delete', @topic, confirm: 'Are you sure?', method: :delete %>
</span>
<p id="notice"><%= notice %></p>

</div>
